<ng-template #please_select_taxon>
   <h2>Bienvenue sur le module de validation</h2>
    <p>Pour commencer, veuillez sélectionner une famille ou un ordre à valider</p>
</ng-template>
<div class="row">
    <div class="col col-sm-2">
        <div class="card">
              <div class="card-body">
                <validation-select-taxon (selectedTaxon)="loadTaxon($event)"></validation-select-taxon>
              </div>
        </div>
         <div class="card" *ngIf="lst_taxons?.length > 0">
              <div class="card-body">
                <validation-stats-taxon [lst_taxons]="lst_taxons" ></validation-stats-taxon>
              </div>
        </div>
    </div>
    <div class="col col-sm-10">
        <div class="card card-body">
            <div class="row">
                <div class="col-sm"><validation-info-obs [lst_taxons]="lst_taxons" *ngIf="lst_taxons?.length > 0; else please_select_taxon"> </validation-info-obs></div>
            </div>
        </div>
    </div>
</div>
