<ng-template #please_select_taxon><small>Veuillez selectionner un taxon à valider</small></ng-template>
<div class="row">
    <div class="col col-sm-2">
        <div class="card" style="width: 18rem;">
              <div class="card-body">
                <validation-select-taxon (selectedTaxon)="loadTaxon($event)"></validation-select-taxon>
              </div>
        </div>
    </div>
    <div class="col col-sm-10">
        <div class="card card-body">
            <div class="row">
                <div class="col-sm"><validation-toolbar></validation-toolbar></div>
            </div>
            <div class="row">
                <div class="col-sm"><validation-info-obs [cd_nom]="taxon.cd_nom" *ngIf="taxon; else please_select_taxon"> </validation-info-obs></div>
            </div>
        </div>
    </div>
</div>
