<div class="card card-body">
    

    <div class="row">
        <div class="col col-sm-2">
                <button type="button" class="btn btn-success">Certain</button>
        </div>
        <div class="col col-sm-2">
                <button type="button" class="btn btn-warning">Douteux</button>
        </div>
        <div class="col col-sm-2">
                <button type="button" class="btn btn-danger">Invalide</button>
        </div>
        <div class="col col-sm-2">
                <button type="button" class="btn btn-dark">Non réalisable</button>
        </div>
        <div class="col col-sm-2">
                <button type="button" class="btn btn-info">Passer</button>
        </div>

    </div>


    
</div>


