<div class="card card-body">
    <span hidden>id_synthese = {{ id_synthese }}</span>

    <div class="row">
        <div class="col col-sm-2">
                <button type="button" class="btn btn-success" [disabled]="!id_synthese" (click)="onVote('318')">Certain</button>
        </div>
        <div class="col col-sm-2">
                <button type="button" class="btn btn-success" [disabled]="!id_synthese" (click)="onVote('319')">Très probable</button>
        </div>
        <div class="col col-sm-2">
                <button type="button" class="btn btn-warning" [disabled]="!id_synthese" (click)="onVote('320')">Douteux</button>
        </div>
        <div class="col col-sm-2">
                <button type="button" class="btn btn-danger" [disabled]="!id_synthese" (click)="onVote('321')">Invalide</button>
        </div>
        <div class="col col-sm-2">
                <button type="button" class="btn btn-dark" [disabled]="!id_synthese" (click)="onVote('322')">Non réalisable</button>
        </div>
        <div class="col col-sm-2">
                <button type="button" class="btn btn-info" disabled>Passer</button>
        </div>

    </div>

    <div class="row">
        <textarea class="form-control" [attr.disabled]="id_synthese ? null : 'disabled'" [formControl]="commentFormControl" rows="2" placeholder="Commentaire de validation" style="margin-top:10px"></textarea>
    </div>
    
</div>


