Selectionnez une ou plusieurs familles à valider

<pnx-taxonomy [idList]="ModuleConfig.ID_LISTE_TAXONS" [charNumber]="3" [listLength]="10" [parentFormControl]="formService.selectTaxonForm.controls.cd_nom" (onChange)="onSelectedTaxon($event)"></pnx-taxonomy>

<div class="alert alert-warning taxon-alert" *ngIf="listSelectedTaxons.length > 0">
     <b> Taxon(s) sélectionné(s):</b>

    <li *ngFor="let taxon of listSelectedTaxons; let i = index">
        <i>{{taxon.lb_nom}}</i>
        <i (click)="removeTaxon(i)" class="fa fa-times clickable"></i>
    </li>

</div>
<button class="btn btn-sm btn-success box-shadow" (click)="onSubmitForm()" [disabled]="listSelectedTaxons.length < 1">Démarrer la validation</button>
