(fictif)
<table class="table table-sm">
    <tr>
        <td>Présence à moins de <strong>5 km</strong></td>
        <td><span class="badge badge-pill badge-danger"> 35 km </span></td>
    </tr>
    <tr>
        <td>L'observateur a déjà identifié l'espèce</td>
        <td><span class="badge badge-pill badge-success"> 8 fois </span></td>
    </tr>
    <tr>
        <td>Espèce déjà observée à cette période (± 10 jours) </td>
        <td><span class="badge badge-pill badge-success"> 347 fois </span></td>
    </tr>
    <tr>
    <td>Effectifs habituel (80%) </td>
        <td><span class="badge badge-pill badge-danger"> effectif élevé </span></td>
    </tr>
</table>
