<p>Progression pour 
    <span *ngIf="lst_taxons.length > 1" > les taxons </span>
    <span *ngIf="lst_taxons.length <= 1" > le taxon </span>en cours de validation
<p><small>(Données de moins de 2 ans)</small></p>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width.%':  ((stats?.evalue / stats?.total) * 100) }" attr.aria-valuenow="{{ (stats?.evalue / stats?.total) * 100 }}" aria-valuemin="0" aria-valuemax="100"> {{stats?.evalue}}  </div>
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" [ngStyle]="{'width.%':  ((stats?.en_cours / stats?.total) * 100) }" attr.aria-valuenow="{{ (stats?.en_cours  / stats?.total) * 100 }}" aria-valuemin="0" aria-valuemax="100"> {{stats?.en_cours}}  </div>
</div>
