Progression pour le taxon {{ lb_nom }}
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" ng-style="{width:  ((stats?.evalue / stats?.total) * 100)+'%' }" attr.aria-valuenow="{{ (stats?.evalue / stats?.total) * 100 }}" attr.aria-valuemin="0" attr.aria-valuemax="100"> {{stats?.evalue}}  </div>
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" ng-style="{width:  ((stats?.en_cours / stats?.total) * 100)+'%' }" attr.aria-valuenow="{{ (stats?.en_cours + stats?.evalue / stats?.total) * 100 }}" attr.aria-valuemin="{{ (stats?.evalue / stats?.total) * 100 }}" attr.aria-valuemax="100"> {{stats?.en_cours}}  </div>
</div>
