<ng-template #default_value><small>Non renseigné</small></ng-template>


<div class="row">
    <div class="col col-sm-12">
        <validation-toolbar [id_synthese]="properties?.id_synthese" (id_statut_voted)=onVote($event)></validation-toolbar>
    </div>
</div>

<div class="row">

<div class="col col-sm-4">
    <div class="card">
        <div class="card-header">
            Taxon (id synthese : {{ properties?.id_synthese }})
        </div>
        <div class="card-body">
            <p> <strong>{{ properties?.nom_cite}}</strong> [ {{ properties?.cd_nom }} ] - {{ obsTaxon?.nom_vern }}</p>
            <p>Effectif : {{ properties?.count_min }}-{{ properties?.count_max }} {{ properties?.obj_count }} </p>
            <p> Commentaire : <span *ngIf="properties?.comment_description;else default_value"> {{ properties?.comment_description }}</span></p>
        </div>
    </div>
</div>

<div class="col col-sm-4">
    <div class="card">
        <div class="card-header">
            Contexte de l'observation
        </div>
        <div class="card-body">
            <p>Observateur : {{properties?.observers}}</p>
            <p> Methode d'observation {{ properties?.obs_method }} </p>
            <p> Commentaire : <span *ngIf="properties?.comment_context;else default_value"> {{ properties?.comment_context }}</span></p>
        </div>
    </div>
</div>

<div class="col col-sm-4">
    <div class="card">
        <div class="card-header">
            Localisation
        </div>
        <div class="card-body">
            <pnx-map *ngIf="latLng" height="50vh" [center]="latLng" [zoom]="11"> 
                <pnx-geojson [geojson]="geoJson" zoomOnLayer="false"></pnx-geojson>
            </pnx-map>
        </div>
    </div>
</div>

</div> <!--Row-->
